java {
    source  = 1.7
    target  = 1.7
    servlet = 3.0
}

less {
    daemonIntervall = 500               // scan interval in milliseconds.    
    engine = "rhino"                    // available values "rhino", "commandline"
    executable = "/opt/local/bin/lessc" // must be set if using engine "commandline", will be ignored otherwise
}

eclipse {
    // you can find your runtime configuration in the .classpath file
	servletRuntime = "Apache Tomcat v7.0"
	servletRuntimeClasspath = "org.eclipse.jst.server.core.container/org.eclipse.jst.server.tomcat.runtimeTarget/Apache Tomcat v7.0"
}

repository {
    url = "file://./repository/releases"
    snapshot = "file://./repository/snapshots"
    
    user = ""
    password = ""
}
