less {
    daemonIntervall = 200 // Scan interval in milliseconds.
    engine = "commandline"
    executable = "/usr/local/bin/lessc"
}

repository {
    url = "file:///Users/jens/Workspaces/Java/nocket-mvn-repository/releases"
    snapshot = "file:///Users/jens/Workspaces/Java/nocket-mvn-repository/snapshots"
}