
less {
    daemonIntervall = 200 // Scan interval in milliseconds.
    engine = "commandline"
    executable = "/usr/local/bin/lessc"
}

repository {
    url = "file:///Users/reh16/Workspace/GitHub/mvn-repository/releases"
    snapshot = "file:///Users/reh16/Workspace/GitHub/mvn-repository/snapshots"
}