
less {
    daemonIntervall = 200 // Scan interval in milliseconds.
    engine = "commandline"
    executable = "/usr/local/bin/lessc"
}

repository {
    url = "file:///Users/veit06/Documents/work/veit06/Projekte/mvn-repository/releases"
    snapshot = "file:///Users/veit06/Documents/work/veit06/Projekte/mvn-repository/snapshots"
}