*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

bin
build
.classpath
.project
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OSX
.DS_Store

examples/webapp/css/application.css
examples/webapp/css/application.map

.settings/gradle
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/*.xml
/bin/

.settings/org.eclipse.wst.validation.prefs
/phantomjsdriver.log
/.settings/
