<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
	<title>Modal Content Window</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
 	<!-- to center the text use the css class "center" -->
  <label wicket:id="text">[hier kommt die Frage]</label>
  <div class="modal-buttons">
     <a class="button blue" wicket:id="btnok"><label wicket:id="label">OK</label></a>
     <a class="button blue" wicket:id="btnyes"><label wicket:id="label">Yes</label></a>
     <a class="button blue" wicket:id="btnno"><label wicket:id="label">No</label></a>
  </div>                   
</body>
</html>