java {
    source  = 1.7
    target  = 1.7
    servlet = 3.0
}

less {
    daemonIntervall = 200 // Scan interval in milliseconds.
    engine = "commandline"
    executable = "/usr/local/share/npm/bin/lessc"
}

eclipse {
	servletRuntime = "Pivotal tc Server v3.0"
	servletRuntimeClasspath = "org.eclipse.jst.server.core.container/com.springsource.sts.ide.tomcat.runtimeTarget/Pivotal tc Server v3.0"
}