java {
    source  = 1.7
    target  = 1.7
    servlet = 3.0
}

less {
    daemonIntervall = 200 // Scan interval in milliseconds.
    engine = "commandline"
    executable = "/usr/local/bin/lessc"
}

eclipse {
	servletRuntime = "Apache Tomcat v7.0"
	servletRuntimeClasspath = "org.eclipse.jst.server.core.container/org.eclipse.jst.server.tomcat.runtimeTarget/Apache Tomcat v7.0"
}