<!doctype html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<title>LoginPanel</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<wicket:panel>
		<form wicket:id="loginform" action="#" class="form-horizontal">
            <div class="alert alert-error" wicket:id="autherror"></div>
			<header class="section-header">
				<span class="headline">Anmeldung</span>
			</header>
			<fieldset>
				<div class="control-group">
					<label wicket:for="username" class="control-label required">Username</label>
					<div class="controls">
						<input wicket:id="username" placeholder="Benutzername" id="username" autofocus="autofocus" type="text"></input>
					</div>
				</div>

				<div class="control-group">
					<label wicket:for="password" class="control-label required">Password</label>
					<div class="controls">
						<input wicket:id="password" placeholder="Passwort" id="password" type="password"></input>
					</div>
				</div>
			</fieldset>
			<footer class="form-actions">
				<button wicket:id="login" class="btn btn-primary span2" type="submit">Anmelden</button>
			</footer>
		</form>
	</wicket:panel>
</body>
</html>
