<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>
<body>
	<wicket:panel>
		<div id="innerModal" class="modal" tabindex="-1" style="position: fixed; top: 90px">
			<div class="modal-header nocket-modal-header">
				<span wicket:id="title.label"></span>
			</div>
			<div class="modal-body">
				<span wicket:id="message.label"></span>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" wicket:id="btnok"><span wicket:id="ok.label">OK</span></a> 
				<a href="#" class="btn" wicket:id="btnyes"><span wicket:id="yes.label">Yes</span></a> 
				<a href="#" class="btn" wicket:id="btnno"><span wicket:id="no.label">No</span></a>
			</div>
		</div>
	</wicket:panel>
</body>
</html>