div.blockerModal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	background-color: black;
	color: #bbb;
	.opacity(.50);
	z-index: 9999;
	text-align: center;
	font-size: 2em;
	display: none;
	-moz-opacity: .5;
  	-khtml-opacity: .5;
  	-webkit-opacity: .5;
  	opacity: .5;
  	filter: alpha(opacity=50) !important;
  	zoom: 1;
}

div.blockerModal	div {
	display: inline-block;
	text-position: center;
	width: 100%;
	position: absolute;
	left: 0%;
	top: 30%;
}
	
div.blockerModal div.inv {
	-moz-opacity: 0;
  	-khtml-opacity: 0;
  	-webkit-opacity: 0;
	opacity: 0;
  	filter: alpha(opacity=0) !important;
  	zoom: 1;
}

div#blockerModalMessagePanel {
	z-index: 19999;
}

div.modalMessagePanelInnerModal {
	z-index:20000 !important;
}
