<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>
<body>
	<wicket:panel>
		<div id="innerModal">
			<div class="nocket-draggable modal" tabindex="-1" data-backdrop="true" style="position: fixed; top: 90px">
				<form wicket:id="modalPanelform" action="#">
					<div class="modal-header nocket-modal-header">
						<span wicket:id="title"></span>
						<button id="close" class="close" data-dismiss="modal" wicket:id="close" aria-hidden="true" type="button">&times;</button>
					</div>
					<div id="innerInnerModal" wicket:id="innerInnerModal">
						<span wicket:id="innerContent">[Hier kommen die anderen Panels rein]</span>
					</div>
				</form>
			</div>
		</div>
	</wicket:panel>
</body>
</html>